.mainContainer{
  display: flex;
  justify-content: center;
}
.isHidden{
   display: none;
 }

 .isShow{
   display: block;
 }

.carousel {
  position: relative;
  width: 60rem;
}

.gallery {
  overflow: hidden;
}

.slides {
  width: 9999px;
  margin: 0;
  padding: 0;
  transition: margin-left 1s;
}

.slide{
  display: inline-block;
  width: 60rem;
}

