.mainContainer{
  display: flex;
  justify-content: center;
}
.isHidden{
   display: none;
 }

 .isShow{
   display: block;
 }






.carousel {
  position: relative;
  width: 60rem;
}

.gallery {
  width:60rem;
  overflow: hidden;
}

.slides {
  height: 38.4rem;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 1s;
}

//.view {
//  height: 33.4rem;
//  width: fit-content;
//}

.slide{
  display: inline-block;
  width: 60rem;
}
//.arrow {
//  position: absolute;
//  top: 60px;
//  display: block;
//}

/* .arrow:focus {
  outline: none;
} */

//.arrow:hover {
//  background: #ccc;
//  cursor: pointer;
//}
//
//.prev {
//  left: 7px;
//}
//
//.next {
//  right: 7px;
//}

