
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.title{
  display: flex;
  justify-content: center;
}

/* Расположите контейнер с изображением (необходимо расположить стрелки влево и вправо) */
.container {
  position: relative;
  width: 60rem;
}

/* Добавление указателя при наведении указателя мыши на миниатюры изображений */
.cursor {
  cursor: pointer;
}

/* Вперед и назад кнопки */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Расположите кнопку "вперед" справа */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора мыши добавьте черный цвет фона с небольшим прозрачным слоем */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Контейнер для текста изображения */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Шесть колонн бок о бок */
.column {
  float: left;
  width: 16.66%;
}

/* Добавьте эффект прозрачности для миниатюрных изображений */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}