$bg-color-transparent: rgba(0,0,0,0.8);
$bg-grey: #f1f1f1;
$bg-light-grey: #f2f2f2;
$bg-text-slide: #00000080;
$bg-text-color: #ffffffba;
$bg-thumb-scroll: #888;

.numberSlide {
  color: $bg-light-grey;
  font-family: 'Roboto', sans-serif;
  padding: 0.3rem 0.6rem;
  bottom: 6.3rem;
  background-color: $bg-color-transparent;
  right: 0.6rem;
  border-radius: 3px 0 0 3px;
  width: 22rem;
  text-align: center;
}

.textSlide{
  color: $bg-text-color;
  background-color: $bg-text-slide;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
}

.slideContentSecond{
  margin: 0 0 0 5rem;
  border-radius: 3px 0 0 3px;
}
.slideContentSecondText{
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}
.nameSlide{
  background-color: $bg-color-transparent;
  color: $bg-grey;
  padding: 1rem 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: $bg-thumb-scroll;
}

::-webkit-scrollbar-track {
  background: $bg-grey;
}
